<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.magicparklabs.Furioke</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>furioke</string>
			</array>
		</dict>
	</array>
	<key>FURIOKE_API_BASE_URL</key>
	<string>https://furioke.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>SPOTIFY_CLIENT_ID</key>
	<string>446d2b788c074a4fac98ac9a57e95a7e</string>
	<key>SPOTIFY_REDIRECT_URL</key>
	<string>furioke://spotify-callback</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_AgvsbXxiLD0JnteiDzaM-g_lSwU6s2c</string>
	<key>SUPABASE_URL</key>
	<string>https://hrzxsnlqhzdlxcgaboqf.supabase.co</string>
</dict>
</plist>
